# Mac useless files
*.DS_Store

*.pyc
.idea/
experiments/
pepper/speech/kaldi/models/test/
pepper/speech/kaldi/models/tmp/
twitter_auth.yaml
tests/data/
/venv/*
tests/image/
pepper/people/
knowledge_representation/brainOutput/
pepper/language/stanford-ner/
!/knowledge_representation/brainOutput/
venv/
