.idea/
*.pyc

people/friends/
people/new/
people/VU/
people/Groningen/
people/WvdW/
tmp/

test/news/tmp
test/news/out

google_cloud_key.json
tokens.json

log.txt
*.trig

pepper/.DS_Store
.DS_Store
venv/
