numpy==1.16.2
scipy==1.2.3
sklearn

nltk==3.4
fuzzywuzzy
python-Levenshtein

rdflib
iribaker
SPARQLWrapper

PyObjC
playsound
webrtcvad

google-cloud-speech
google-cloud-TextToSpeech
google-cloud-translate

Pillow==5.4.1
opencv-python==4.2.0.32

tornado==5.1.1
typing
pyaudio

pycountry
reverse-geocoder

mock