numpy
scipy
sklearn

nltk
fuzzywuzzy[speedup]

rdflib
iribaker
SPARQLWrapper

playsound
webrtcvad
google-cloud-speech
google-cloud-TextToSpeech
google-cloud-translate

requests
pycountry

pillow
opencv-python

tornado
typing
pyaudio
av
